td.loginForm {
    height: 100px;
    vertical-align: middle;
}

input.loginForm {
    width: 139px;
}

input#loginButton {
    background-color: #BBBBBB;
    width: 100px;
    align-self: stretch;
    text-indent: 0px;
    margin-left: 10px;
}

input#loginButton:hover {
    background-color: #7A7A7A;
    color: #f5f5f5;
}

div#error {
    font-size: 15px;
    height: 30px;
    color: #ff5b5b;
    text-shadow: 0px 1px 3px #98623d;
}